.zippy {
    border: 1px solid #ccc;
    border-radius: 5px;

}

.zippy-heading {
    cursor: pointer;
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 5px;
    background-color: #53555a;
    color: rgb(86, 113, 233);
}

.zippy-body {
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 5px;
    background-color: #a8aab3;
}

.expanded {
    background-color: #f4f4f4;
}

.glyphicon {
    float: right;
    margin-right: 10px;

    color: #b2afe4;
}