<style>
  .center {
    text-align: center;
    text-decoration: none;
    color: #eff3f5;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 20px;
    /* display: inline; */
    /* list-style: none; */

  }
</style>


<div class="content" role="main">
  <!-- <app-root></app-root> -->
  <br />
  <span>
    <h1>{{ title }} app is running!</h1>
  </span>
  <label for="input">Input: {{details}} </label>

  <input type="text" id="input" value="{{details}}" />
</div>
<div class="center">
  <app-authors></app-authors>
</div>
<input type="text" appInputFormat />
<input type="text" [appInputFormat]="'upparcase'">



<app-zippy title="shipping details">
  shipping details here
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quod enim, error, fugit quam odio laboriosam maxime
  suscipit placeat maiores sapiente qui harum voluptatibus optio beatae aperiam quo molestiae id!
</app-zippy>

<app-favorite></app-favorite>

<app-course></app-course>

<app-xyz></app-xyz>
<courses></courses>
<router-outlet></router-outlet>