<span class="glyphicon glyphicon-star"> </span>
<span class="glyphicon glyphicon-star"> </span>
<span class="glyphicon glyphicon-star"> </span>

<span class="glyphicon"></span>
<h1>{{title}}</h1>
<h2>{{title}}</h2>
<button class="btn btn-primary" (click)="onClick()">Click me!</button>
<button class="btn btn-primary" [style.backgroundColor]="canSave ? 'blue':'gray'"
    [style.color]="canSave ? 'white':'black'" [style.fontWeight]="canSave ? 'bold':'normal'">
    OK!
</button>
<button class="btn btn-primary" [ngStyle]="{
    backgroundColor: canSave ? 'blue':'gray',
    color: canSave ? 'white':'black',
    fontWeight: canSave ? 'bold':'normal'
}">Save</button>

<p><span>{{task.title}}</span>
</p>
<p>
    {{task.assignee.name}}
</p>

<h1> app-favorite app is running!</h1>
<button class="btn btn-primary">Click me!</button>
<button class="btn btn-warning">Click me!</button>
<button class="btn btn-danger">Click me!</button>
<button class="btn btn-success">Click me!</button>
<button class="btn btn-info">Click me!</button>
<button class="btn btn-default">Click me!</button>
<button class="btn btn-link">Click me!</button>
<button class="btn btn-lg">Click me!</button>
<button class="btn btn-sm">Click me!</button>
<button class="btn btn-xs">Click me!</button>
<button class="btn btn-block">Click me!</button>
<button class="btn btn-primary btn-lg">Click me!</button>
<button class="btn btn-primary btn-sm">Click me!</button>
<button class="btn btn-primary btn-xs">Click me!</button>
<button class="btn btn-primary btn-block">Click me!</button>
<button class="btn btn-warning btn-lg">Click me!</button>
<button class="btn btn-warning btn-sm">Click me!</button>
<button class="btn btn-warning btn-xs">Click me!</button>
<button class="btn btn-warning btn-block">Click me!</button>
<button class="btn btn-danger btn-lg">Click me!</button>
<button class="btn btn-danger btn-sm">Click me!</button>
<button class="btn btn-danger btn-xs">Click me!</button>
<button class="btn btn-danger btn-block">Click me!</button>
<button class="btn btn-success btn-lg">Click me!</button>
<button class="btn btn-success btn-sm">Click me!</button>
<button class="btn btn-success btn-xs">Click me!</button>
<button class="btn btn-success btn-block">Click me!</button>
<button class="btn btn-info btn-lg">Click me!</button>
<button class="btn btn-info btn-sm">Click me!</button>
<button class="btn btn-info btn-xs">Click me!</button>
<button class="btn btn-info btn-block">Click me!</button>
<button class="btn btn-default btn-lg">Click me!</button>